html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map-canvas { height: 400px; width: 600px; }

#panel {
	position: absolute;
	top: 5px;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
}

#pano {
	width: 600px; height: 400px;
}