<HTML>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	    <meta charset="utf-8">
		<title>Drive Me</title>
		<link rel="stylesheet" href="/static/bower/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/bower/bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/static/css/driveme.css">
		{% block extra_head %}{% endblock %}
	</head>
	<body>
		{% block content %}{% endblock %}

		<footer>
			Drive Me v{{ version }} &copy;2015 created by Glen Baker and Adam Clark</span>
		</footer>
		
		<script src='/static/bower/jquery/dist/jquery.min.js' type='text/javascript'></script>
		<script src='/static/bower/bootstrap/dist/js/bootstrap.min.js' type='text/javascript'></script>
		{% block extra_js %}{% endblock %}
	</body>
</HTML>