{% extends 'base.html' %}

{% block content %}
	<div id="panel">
    <b>Start: </b>
    <select id="start" onchange="calcRoute();">
      <option value="chicago, il">Chicago</option>
      <option value="st louis, mo">St Louis</option>
      <option value="joplin, mo">Joplin, MO</option>
      <option value="oklahoma city, ok">Oklahoma City</option>
      <option value="amarillo, tx">Amarillo</option>
      <option value="gallup, nm">Gallup, NM</option>
      <option value="flagstaff, az">Flagstaff, AZ</option>
      <option value="winona, az">Winona</option>
      <option value="kingman, az">Kingman</option>
      <option value="barstow, ca">Barstow</option>
      <option value="san bernardino, ca">San Bernardino</option>
      <option value="los angeles, ca">Los Angeles</option>
    </select>
    <b>End: </b>
    <select id="end" onchange="calcRoute();">
      <option value="chicago, il">Chicago</option>
      <option value="st louis, mo">St Louis</option>
      <option value="joplin, mo">Joplin, MO</option>
      <option value="oklahoma city, ok">Oklahoma City</option>
      <option value="amarillo, tx">Amarillo</option>
      <option value="gallup, nm">Gallup, NM</option>
      <option value="flagstaff, az">Flagstaff, AZ</option>
      <option value="winona, az">Winona</option>
      <option value="kingman, az">Kingman</option>
      <option value="barstow, ca">Barstow</option>
      <option value="san bernardino, ca">San Bernardino</option>
      <option value="los angeles, ca">Los Angeles</option>
    </select>
    </div>
	<div id="map-canvas" class='pull-left'></div>

	<div id="pano" class='pull-left'></div>

	<button id='startBtn' class='btn btn-success btn-lg' style='display: none;'>Start</button>
	<button id='stopBtn' class='btn btn-danger btn-lg' style='display: none;'>Stop</button>

	<button id='backwardBtn' class='btn btn-primary btn-lg' style='display: none;'>Step Back</button>
	<button id='forwardBtn' class='btn btn-primary btn-lg' style='display: none;'>Step Forward</button>
		
{% endblock %}

{% block extra_js %}
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}"></script>
	<script type="text/javascript">
		var DEBUG = true;


		// Map Initialization and Routing 
	  	var directionsDisplay;
		var directionsService = new google.maps.DirectionsService();
		var map;
		var intervalVar;
		var routeStep = 0;
		var routePath;


		function initialize() {
		  directionsDisplay = new google.maps.DirectionsRenderer();
		  var chicago = new google.maps.LatLng(41.850033, -87.6500523);
		  var mapOptions = {
		    zoom:7,
		    center: chicago
		  };
		  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
		  directionsDisplay.setMap(map);
		}

		function calcRoute() {
		  var start = document.getElementById('start').value;
		  var end = document.getElementById('end').value;
		  var request = {
		      origin:start,
		      destination:end,
		      travelMode: google.maps.TravelMode.DRIVING
		  };
		  directionsService.route(request, function(response, status) {
		    if (status == google.maps.DirectionsStatus.OK) {
		      directionsDisplay.setDirections(response);

		      var directionRoutes = response.routes;
		      routePath = directionRoutes[0].overview_path;
		      // if (DEBUG == true) { console.log(routePath[0]['k'], routePath[0]['D']); }

		      driveRoute(routePath);
		      $('#stopBtn').show();
		    }
		  });
		}

		function createStreetPanorama(lat, lng, heading) {
			var latLng = new google.maps.LatLng(lat, lng);
			var mapOptions = {
		    	center: latLng,
		    	zoom: 14
		  	};
		  	// var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
		  	var panoramaOptions = {
		    	position: latLng,
		    	pov: {
		      		heading: heading,
		      		pitch: 10
		    	}
		  	};
		  	var panorama = new google.maps.StreetViewPanorama(document.getElementById('pano'), panoramaOptions);
		  	map.setStreetView(panorama);
		  	return panorama
		}

		google.maps.event.addDomListener(window, 'load', initialize);

		function setCorrectingInterval(func, delay) {
		  if (!(this instanceof setCorrectingInterval)) {
		    return new setCorrectingInterval(func, delay);
		  }

		  var target = (new Date().valueOf()) + delay;
		  var that = this;

		  function tick() {
		    if (that.stopped) return;

		    target += delay;
		    func();

		    setTimeout(tick, target - (new Date().valueOf()));
		  };

		  setTimeout(tick, delay);
		};

		function clearCorrectingInterval(interval) {
		  interval.stopped = true;
		}

		function driveRoute(overview_path) {
			// expects an array of lat and lng coordinates along a route
			stepForward();
			// We are going to step through each lat,lng coordinate in the overview_path array
			// and on a timer activate createStreetPanorama to advance to next location along the route
			// later we will add some controls in to control things such as pause and fast forward
			intervalVar = setCorrectingInterval(function(){
				stepForward(); 
			}, 2000);
		}

		function stepForward() {
			routeStep++;
			createStreetPanorama(routePath[routeStep]['k'], routePath[routeStep]['D'],
								getBearing(routePath[routeStep]['k'], routePath[routeStep]['D'],
									 	   routePath[routeStep+1]['k'], routePath[routeStep+1]['D']));
		}

		function stepBackward() {
			routeStep--;
			createStreetPanorama(routePath[routeStep]['k'], routePath[routeStep]['D'],
								 getBearing(routePath[routeStep]['k'], routePath[routeStep]['D'],
									 		routePath[routeStep+1]['k'], routePath[routeStep+1]['D']));
		}

		/**
		* Calculate the bearing between two positions as a value from 0-360
		*
		* @param lat1 - The latitude of the first position
		* @param lng1 - The longitude of the first position
		* @param lat2 - The latitude of the second position
		* @param lng2 - The longitude of the second position
		*
		* @return int - The bearing between 0 and 360
		*/
		function getBearing(lat1, lng1, lat2, lng2) {
			var dLon = (lng2-lng1);
			var y = Math.sin(dLon) * Math.cos(lat2);
			var x = Math.cos(lat1)*Math.sin(lat2) - Math.sin(lat1)*Math.cos(lat2)*Math.cos(dLon);
			var brng = this._toDeg(Math.atan2(y, x));
			return 360 - ((brng + 360) % 360);
		}

		/**
		* Since not all browsers implement this we have our own utility that will
		* convert from degrees into radians
		*
		* @param deg - The degrees to be converted into radians
		* @return radians
		*/
		function _toRad(deg) {
			return deg * Math.PI / 180;
		}

		/**
		* Since not all browsers implement this we have our own utility that will
		* convert from radians into degrees
		*
		* @param rad - The radians to be converted into degrees
		* @return degrees
		*/
		function _toDeg(rad) {
			return rad * 180 / Math.PI;
		}

		

		$(document).on('click', '#stopBtn', function(event){
			event.preventDefault();

			clearCorrectingInterval(intervalVar);
			$('#stopBtn').hide();

			$('#backwardBtn').show();
			$('#forwardBtn').show();
			$('#startBtn').show();
		});

		$(document).on('click', '#startBtn', function(event){
			event.preventDefault();

			driveRoute(routePath);
			$('#startBtn').hide();
			$('#forwardBtn').hide();
			$('#backwardBtn').hide();

			$('#stopBtn').show();
		});

		$(document).on('click', '#forwardBtn', function(event){
			event.preventDefault();

			stepForward();
		});

		$(document).on('click', '#backwardBtn', function(event){
			event.preventDefault();

			stepBackward();
		});

		$(document).on('click', '#pano', function(event){
			event.preventDefault();

			clearCorrectingInterval(intervalVar);
			$('#stopBtn').hide();

			$('#backwardBtn').show();
			$('#forwardBtn').show();
			$('#startBtn').show();
		});

	</script>
{% endblock %}